:root {
  --grey35: hsl(0, 0%, 35%);
  --red: hsl(8, 100%, 35%);

  --white25: hsla(0, 0%, 100%, 25%);
  --white50: hsla(0, 0%, 100%, 50%);
  --white80: hsla(0, 0%, 100%, 80%);
}

* {
  color: var(--grey35);
}

/* h1 {
  color: var(--red);
} */
