:root {
  --grey35: hsl(0, 0%, 35%);
  --grey95: hsl(0, 0%, 95%);

  --red: hsl(8, 100%, 35%);
  --red50: hsla(8, 100%, 35%, 25%);

  --black: hsl(0, 0%, 0%);

  --white: hsla(0, 0%, 100%, 100%);
  --white80: hsla(0, 0%, 100%, 80%);
  --white50: hsla(0, 0%, 100%, 50%);
  --white25: hsla(0, 0%, 100%, 25%);

  --shadow01: hsl(0, 0%, 80%);
  --shadow02: hsl(0, 0%, 90%);

  --success: #5dad58;
  --error: #c41f2b;
}

* {
  color: var(--grey35);
}

h1 {
  color: var(--red);
}

a,
a *,
button,
button * {
  color: var(--black);
}
