.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  /* margin: 12px; */
}

/* ARROW */
.arrow {
  fill: black;
}

/* BAR OPEN */
.bar-open {
  display: block;
}

.bar-open rect {
  fill: black;
}

/* BAR CLOSED */
.bar-closed .st0 {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
