.container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  margin-top: 0.5rem;
  padding: 0.5rem;
  /* box-shadow: 0 4px 8px var(--shadow01); */
  max-width: 400px;
  width: calc(100% - 1rem);
  opacity: 0;
  transition: var(--timer) ease;
}

.container.active {
  opacity: 1;
  transform: translate(-50%, 0%);
}

.container.success {
  background-color: var(--success);
}

.container.error {
  background-color: var(--error);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content > :first-child {
  display: flex;
  justify-content: flex-end;
}

.content > :first-child button {
  display: flex;
  margin: -0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.content > :first-child button svg {
  width: 24px;
  height: 24px;
  box-shadow: 0 0 0 1px transparent inset;
  transition: var(--timer) ease;
}

.content > :first-child button:hover svg {
  box-shadow: 0 0 0 1px var(--white) inset;
}

.content > :first-child button svg line {
  stroke: var(--white);
}

.content > :last-child {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
  color: var(--white);
}
