.links {
  display: flex;
  gap: 0.5rem;
}

.links > span {
  line-height: 16px;
}

.links > span:first-child {
  display: none;
}

.links a {
  line-height: 16px;
  padding: 0.5rem;
  margin: -0.5rem;
}

.links a > span {
  position: relative;
}

.links a > span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(5px);
  height: 2px;
  transition: var(--timer) ease-in-out;
}

.links a:hover > span::after {
  background-color: var(--red);
  transform: translateY(1px);
}
